.tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  color: green;
  border: 1px solid green;
}

.selected {
  max-height: 300px;
  overflow: auto;
  padding: 16px;
}

.selected-item {
  list-style: none;
  cursor: pointer;
}
